@using OsCoreApplication.ViewModel.Models;
@{
    //var thongke = ViewBag.ThongKe as ThongKeModel;
    var thongkeTheoKhoa = ViewBag.ThongKeTheoKhoa as ThongKeTheoChuyenKhoa;
    long dangky = 0;
    long chokham = 0;
    long dangkham = 0;
    long dakham = 0;
    //if (thongke != null)
    //{

    //    chokham = thongke.ChoKham;
    //    dangkham = thongke.DaKham;
    //    dakham = thongke.DangKham;
    //    dangky = chokham + dangkham + dakham;
    //}
    var thongKeTheoTuan = ViewBag.ThongKe as List<ThongKeTheoTuan>;
    List<int> lsTuan1 = new List<int>();
    List<int> lsTuan2 = new List<int>();
    if (thongKeTheoTuan != null && thongKeTheoTuan.Any())
    {
        lsTuan1 = thongKeTheoTuan.Where(x => x.TuanDuLieu == 1).Select( x => x.SoLuong).ToList();
        lsTuan2 = thongKeTheoTuan.Where(x => x.TuanDuLieu == 2).Select(x => x.SoLuong).ToList();
    }
}

<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
@*<div class="row">
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group datetimepicker">
                                <label>Từ ngày </label>
                                <input type="date" class="datetimepicker" name="fromDate" id="fromDate" value="20/11/2020">
                                <input type="time" name="fromTime" id="fromTime">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group datetimepicker">
                                <label>Đến ngày </label>
                                <input type="date" class="datetimepicker" name="toDate" id="toDate">
                                <input type="time" name="toTime" id="toTime">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>*@

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tổng số BN đã đăng ký
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@dangky</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Tổng số BN chờ khám
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@chokham</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Tổng số BN đang khám
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@dangkham</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Tổng số BN đã khám xong
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@dakham</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Thống kê theo khoảng thời gian</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <canvas id="canvas"></canvas>
                
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Trạng thái bệnh nhân</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <canvas id="chart-area"></canvas>
                <h7 style="text-align: center; width: 100%;">Số lượng bệnh nhân</h7>
                <canvas id="chart-tinhtrangbenhnhan"></canvas>
                <h7 style="text-align: center; width: 100%;">Đối tượng khám chữa bệnh</h7>
            </div>
        </div>
    </div>
</div>


<!-- Content Row -->
<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thống kê số lượng bệnh nhân theo chuyên khoa (Ngày hiện tại)</h6>
            </div>
            
            <div class="card-body">
                <canvas id="tkphongkham"></canvas>
            </div>
        </div>
        <!-- Color System -->
        
    </div>
    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thống kê số lượng ca cấp cứu trong tuần</h6>
            </div>
            <div class="card-body">
                <canvas id="chart-cacapcuu"></canvas>
            </div>
        </div>
        <!-- Approach -->
       
    </div>
</div>

@section Scripts {

    @*<script src="~/Content/plugins/jquery.datetimepicker.js"></script>*@
<script>
        var ls =  @Html.Raw(Json.Encode(ViewBag.DetailInWeek));
    var lsPieDate = [@chokham, @dakham, @dangkham];
    var lsTuan1 = @Html.Raw(Json.Encode(lsTuan1));
    var lsTuan2 = @Html.Raw(Json.Encode(lsTuan2));
  
</script>
    @*<script src="/content/js/demo/chart-area-demo.js"></script>
    <script src="/content/js/demo/chart-pie-demo.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="~/Content/js/chart/utils.js"></script>
    <script>
        var MONTHS = ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'];
        var config = {
            type: 'line',
            data: {
                labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'],
                datasets: [{
                    label: 'Tuần 1',
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: lsTuan1,
                    fill: false,
                }, {
                    label: 'Tuần 2',
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                        data: lsTuan2,
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                    },
                    tooltip: {
                        mode: 'index',
                        intersect: false,
                    }
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }
                }
            }
        };

        var randomScalingFactor = function () {
            return Math.round(Math.random() * 1000);
        };

        var color = Chart.helpers.color;
        var configtkphongkham = {
            type: 'radar',
            data: {
                labels: ['Nội khoa', 'Ngoại khoa', 'Đông y', 'Ung bướu', 'Khác'],
                datasets: [{
                    label: 'Số lượng bệnh nhân',
                    backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                    borderColor: window.chartColors.red,
                    pointBackgroundColor: window.chartColors.red,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Radar Chart'
                    },
                },
                scale: {
                    beginAtZero: true
                }
            }
        };
        var configTinhTrangBenhNhan = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Chờ khám',
                    'Đang khám',
                    'Đã khám'

                ]
            },
            options: {
                responsive: true
            }
        };

        var configDoiTuongBenhNhan = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.blue
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Tự chi trả',
                    'Khám BHYT lần 1',
                    'Khám BHYT lần 2',
                    'Tự chi trả'

                ]
            },
            options: {
                responsive: true
            }
        };

        //

        var randomCa = function () {
            return Math.round(Math.random() * 10);
        };
        var cacapcuu = [];
        var canguykich = [];
        for (var i = 0; i <= 7; i++) {
            var num = randomCa();
            cacapcuu.push(num);
            var temp = num - Math.round(Math.random() * 1);
            var cnk = temp < num ? temp : 0
            canguykich.push(cnk);
        }

        var chartDataCaCapCuu = {
            labels: ['Thứ 2', 'Thứ 3', 'Thứ 5', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'chủ nhật'],
            datasets: [{
                type: 'line',
                label: 'Số ca cấp cứu',
                borderColor: window.chartColors.blue,
                borderWidth: 2,
                fill: false,
                data: cacapcuu
            }, {
                type: 'bar',
                label: 'Ca nguy kịch',
                backgroundColor: window.chartColors.red,
                    data: canguykich,
                borderColor: 'white',
                borderWidth: 2
            }]

        };
        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
            window.myRadar = new Chart(document.getElementById('tkphongkham'), configtkphongkham);
            var ttbn = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(ttbn, configTinhTrangBenhNhan);
            var ttbn = document.getElementById('chart-tinhtrangbenhnhan').getContext('2d');
            window.myPie = new Chart(ttbn, configDoiTuongBenhNhan);

            //
            var ctx = document.getElementById('chart-cacapcuu').getContext('2d');
            window.myMixedChart = new Chart(ctx, {
                type: 'bar',
                data: chartDataCaCapCuu,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    }
                }
            });
        };



    </script>
}